/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 1em; font-family: Roboto, "Helvetica Neue", sans-serif; }
form { margin: 1em; }
div.search_ssn { margin: 1em 0; display: block; }
span.results { margin: 1em 0; display: block; }
